.center {
    margin: auto;
    width: 40%;
    border: 3px palegoldenrod;
    padding: 5px;
    background: skyblue;
}

.center2 {
    margin: auto;
    width: 20%;
    border: 3px palegoldenrod;
    background: skyblue;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    opacity: 1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    opacity: 1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    border: 1px solid black;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.dataTables_filter input { border: 1px solid black; }

.box div { width:90px; display:inline-block; }

.flex-parent2 {
    justify-content: center;
}

.btn-group2 {
    display: flex;
    vertical-align: middle;
    background-color: white;
    border-color: white;
}

.card-title2 {
}
